# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# Secrets
Secrets.xcconfig
.env
.env.*

# OS
.DS_Store
Thumbs.db
